<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon_spotmate"
        android:label="Torikomi: SpotMate">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay" />

        <provider
            android:name=".ExtensionProvider"
            android:authorities="torikomi.extension.spotmate"
            android:exported="true" />

        <meta-data android:name="torikomi.extension"              android:value="true" />
        <meta-data android:name="torikomi.extension.id"           android:value="spotmate" />
        <meta-data android:name="torikomi.extension.platform"     android:value="spotify" />
        <meta-data android:name="torikomi.extension.platformName" android:value="Spotify" />
        <meta-data android:name="torikomi.extension.version"      android:value="1.0.0" />
        <meta-data android:name="torikomi.extension.downloader"   android:value="Spotmate Downloader" />
        <meta-data android:name="torikomi.extension.description"  android:value="Download Spotify tracks, playlists, and albums as MP3 via Spotmate." />
        <meta-data android:name="torikomi.extension.urlPlaceholder" android:value="https://open.spotify.com/track/5XeFesFbtLpXzIVDNQP22n" />
        <meta-data android:name="torikomi.extension.lang"  android:value="multi" />
        <meta-data android:name="torikomi.extension.icon"  android:value="spotmate" />
        <meta-data android:name="torikomi.extension.color" android:value="#1DB954" />
        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>

</manifest>
