<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="AIO: Instagram">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay" />

        <provider
            android:name=".ExtensionProvider"
            android:authorities="aio.extension.instagram"
            android:exported="true"
            android:readPermission="com.tobz.aiodownloader.READ_EXTENSION" />

        <meta-data android:name="aio.extension"          android:value="true" />
        <meta-data android:name="aio.extension.id"       android:value="instagram" />
        <meta-data android:name="aio.extension.platform" android:value="Instagram" />
        <meta-data android:name="aio.extension.version"  android:value="1.0.0" />
        <meta-data android:name="aio.extension.lang"     android:value="multi" />
        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>

</manifest>

