<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".StubActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay" />

        <meta-data android:name="aio.extension" android:value="true" />
        <meta-data android:name="aio.extension.id" android:value="pinterest" />
        <meta-data android:name="aio.extension.platform" android:value="Pinterest" />
        <meta-data android:name="aio.extension.version" android:value="1.0.0" />
        <meta-data android:name="aio.extension.lang" android:value="multi" />
    </application>

</manifest>
