<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon_snapsave_twitter"
        android:label="Torikomi: Twitter">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay" />

        <provider
            android:name=".ExtensionProvider"
            android:authorities="torikomi.extension.snapsave_twitter"
            android:exported="true" />

        <meta-data android:name="torikomi.extension" android:value="true" />
        <meta-data android:name="torikomi.extension.id" android:value="snapsave_twitter" />
        <meta-data android:name="torikomi.extension.platform" android:value="twitter" />
        <meta-data android:name="torikomi.extension.platformName" android:value="Twitter" />
        <meta-data android:name="torikomi.extension.version" android:value="1.0.0" />
        <meta-data android:name="torikomi.extension.downloader" android:value="SnapSave" />
        <meta-data android:name="torikomi.extension.description" android:value="Downloader SnapSave untuk unduh video dan foto Twitter/X dengan cepat." />
        <meta-data android:name="torikomi.extension.lang" android:value="multi" />
        <meta-data android:name="torikomi.extension.icon" android:value="snapsave_twitter" />
        <meta-data android:name="torikomi.extension.color" android:value="#1D9BF0" />
        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>

</manifest>
